.textareaStyle {
  flex: 1;
  padding: 0.5rem;
}

.removeTextareaButton {
  width: 40px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 2px;
}

.removeTextareaButton:hover {
  cursor: pointer;
}

.addTextareaButton {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  width: 50px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 2px;
}

.addTextareaButton:hover {
  cursor: pointer;
}

.errorStyle {
  color: red;
}
