.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formWrapper {
  min-width: 50%;
  padding: 1rem;
  align-self: center;
}

.outputsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  gap: 1rem;
}
